@charset "utf-8";
/* CSS Document */

body{
	background-color:#b0e0e6;
}

/*This class belongs to the main div tag just after body tag*/
.main{
	height:auto;
	width:auto;
	background:#0F0;
	border-top:solid;
	border-left:solid;
	border-right:solid;
	border-color:#000;
	border-bottom:solid;
}

header{
	height:100px;
	width:auto;
	background-color:#FFF;
	border-bottom:solid;
	border-color:#000;
	background-image:url(../images/title.png);
}

/*This ID belongs to the aside one seaction*/
#cnt1{
	height:500px;
	width:300px;
	background-color:#CCC;
	float:left;
	border-right:solid;
	border-bottom:solid;
}

/*This id belongs to the aside two section*/
#cnt2{
	height:500px;
	width:auto;
	background-color:#CCC;
	border-bottom:solid;
}

footer{
	height:45px;
}

/*This id belongs to the div tag placed in header section*/
#search_cnt{
	height:auto;
	width:auto;
}

/*This ID belongs to the table section inside the div tag under header*/
#tab{
	padding-top:30px;
}

/*This class is uder to decorate text box*/

.text_box{
	border:1px solid #999;
	width:200px;
	height:20px;
	color:#03F;
	font-family:"Comic Sans MS", cursive;
}

.text_box:focus{
	border:1px solid blue;
}

/*This section is used to decorate button*/

.btn_box{
	border:1px solid #999;
	height:24px;
	font-family:"Comic Sans MS", cursive;
}

.btn_box:hover{
	border:1px solid blue;
}

/*To dacorate dropdown list*/

.drop_list{
	border:1px solid blue;
	height:20px;
}

.label_font{
	font-family:"Comic Sans MS", cursive;
	font-size:40px;
}

.label_font:hover{
	color:white;
}

/*Class to highlight title*/

.title{
	font-family:"Comic Sans MS", cursive;
	font-size:18px;
	color:#06F;
}

footer{
	background-color:#CCC;
	color:#03F;
	padding-bottom:5px;
}